@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1160px;
  min-height: 100%;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* common elements */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  display: block;
  min-width: 220px;
  padding: 10px 0;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  background-color: #ffe17f;
  border: none;
}

.title {
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

/* header */

.page-header {
  margin-top: 20px;
}

.page-header-index {
  margin-bottom: 630px;
}

.page-header-inner {
  margin-bottom: 35px;
}

.navigation {
  position: relative;

  background-image: linear-gradient(to bottom, #ffffff 20px, #ffe17f 20px 100%);
}

.logo-header {
  padding: 0 60px;
}

/* navigation-user */

.navigation-search-form {
  display: flex;
  width: 517px;
  margin-right: 26px;
}

.navigation-search-form-input {
  box-sizing: border-box;
  width: 359px;
  padding: 8px 8px 8px 48px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  background-color: #ffe17f;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}

.navigation-search-form-button {
  box-sizing: border-box;
  width: 160px;
  margin-left: -2px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  background-color: #ffe17f;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
}

.navigation-list {
  display: flex;
  padding: 0 60px;
  margin: 0;

  list-style: none;
}

.navigation-link {
  display: block;

  text-decoration: none;
  color: inherit;
}

.navigation-user {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 30px;
}

.navigation-user > .navigation-item:not(:first-child, .navigation-item-log) {
  width: 120px;
  text-align: end;
}

.navigation-item-log {
  display: none;
  margin-right: auto;

  text-align: start;
}

.navigation-item-log-visible {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.navigation-user-name {
  display: block;
  padding-left: 27px;

  text-decoration: none;
  color: #000000;
}

.navigation-user-button {
  display: block;
  width: 57px;
  height: 30px;

  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}

.navigation-user-button-logout {
  opacity: 0.3;
}

.navigation-main {
  flex-wrap: wrap;
  justify-content: flex-end;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.navigation-main .navigation-link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-link-catalog {
  padding-right: 60px;
}

.navigation-main > .navigation-item:not(:last-child) {
  margin-right: 45px;
}

.navigation-main > .navigation-item:first-child {
  margin-right: auto;
}

.navigation-catalog {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  box-sizing: border-box;
  width: 1160px;
  padding-top: 33px;
  padding-bottom: 27px;

  font-size: 16px;
  line-height: 18px;

  background-color: #ffe17f;
}

.navigation-catalog-visible {
  display: flex;
}

.navigation-catalog > .navigation-item {
  min-width: 150px;
  margin-right: 60px;
  margin-bottom: 12px;
}

.navigation-catalog > .navigation-item:last-child {
  margin-right: 0;
}

.navigation-catalog .navigation-link {
  margin-bottom: 17px;
}

/* main */

.main-container {
  flex-grow: 1;
}

/* promo-slider */

.promo-slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;

  min-height: 750px;
}

.promo-slider-list {
  padding: 0;
  margin: 0;

  background-image: linear-gradient(
    to bottom,
    #ffffff 40px,
    #ffe17f 40px 340px,
    #ffffff 340px 100%
  );
  list-style: none;
}

.promo-slider-item {
  display: none;
  margin: 0 auto;
}

.promo-slider-item-current {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: 40px 150px 150px min-content 1fr;
  column-gap: 40px;
}

.promo-slider-title {
  z-index: 1;

  display: block;
  grid-area: 4/2/5/3;
  margin: -29px 15px 29px 0;
}

.promo-slider-number {
  grid-area: 3/2/4/3;
  align-self: flex-end;
  padding-bottom: 32px;
  margin-right: 49px;

  font-size: 180px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}

.promo-slider-image {
  grid-area: 3/1/6/2;
}

.promo-slider-wrapper {
  grid-area: 5/2/6/3;
  display: flex;
  flex-direction: column;
}

.promo-slider-description {
  display: block;
  margin: 0;
  margin-bottom: 50px;

  color: #444444;
}

.promo-slider-link {
  align-self: flex-start;
  margin-bottom: 50px;

  text-decoration: none;
}

.promo-slider-advantages {
  display: flex;
  margin: 0;
}

.promo-slider-advantages-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.promo-slider-advantages-wrapper:not(:last-child) {
  margin-right: 20px;
}

.promo-slider-advantages-item {
  font-size: 16px;

  color: #444444;
}

.promo-slider-advantages-description {
  margin: 0;
  margin-bottom: 12px;

  font-size: 36px;
}

.promo-slider-advantages-arrow {
  padding: 0;

  background-color: #ffffff;
  border: none;
}

.promo-slider-advantages-bullet {
  padding: 0;

  background-color: #ffffff;
  border: none;
}

/* catalog-navigation */

.catalog-navigation {
  margin-bottom: 70px;
}

.catalog-navigation-list {
  display: flex;
  padding: 0;

  list-style: none;
}

.catalog-navigation-item {
  width: 160px;
}

.catalog-navigation-item:not(:last-child) {
  margin-right: 40px;
}

.catalog-navigation-link {
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding-top: 192px;
  padding-bottom: 12px;

  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
}

/* index-columns */

.index-columns {
  display: flex;
  justify-content: space-between;
}

/* services */
.services {
  position: relative;

  padding-bottom: 72px;
  margin-bottom: 70px;

  background-image: linear-gradient(
    to bottom,
    #ffffff 102px,
    #f0f0f0 102px 100%
  );
}

.services-buttons-list {
  padding: 65px 0;
  padding-right: 120px;
  margin: 0;

  list-style: none;
  border-right: 7px solid #000000;
}

.services-button-item:not(:last-child) {
  margin-bottom: 35px;
}

.services-button {
  width: 160px;
}

.services-list {
  margin: 0;
  padding: 72px 0;

  list-style: none;
}

.services-item {
  display: none;
  margin: 0 27px 0 116px;
  padding-right: 250px;
}

.services-item-current {
  display: block;
}

.services-title {
  margin-bottom: 34px;
}

.services-description {
  margin: 0;

  color: #444444;
}

/* delivery-order-button */

.delivery-order-button {
  display: block;
  box-sizing: border-box;
  width: 1160px;
  padding: 40px 125px;
  margin-bottom: 70px;

  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  text-align: center;

  background-color: #f0f0f0;
}

/* about */

.about {
  width: 520px;
  margin-bottom: 70px;
}

.about-title {
  margin: 47px 0;
}

.about-description {
  margin: 0;
  margin-bottom: 30px;

  color: #444444;
}

.about-delivery-description {
  margin: 0;
  margin-bottom: 30px;

  color: #444444;
}

.about-delivery-company-list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  list-style: none;
}

.about-delivery-company-item {
  padding-left: 38px;
  margin-bottom: 19px;

  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.about-delivery-company-item:last-child {
  margin: 0;
}

.about-button {
  width: 270px;

  text-decoration: none;
}

/* contacts */

.contacts {
  width: 532px;
  margin-bottom: 70px;

  color: #444444;
}

.contacts-title {
  margin: 47px 0;

  color: #000000;
}

.contacts-description {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  margin-bottom: 30px;

  font-style: normal;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  text-decoration: none;
  color: #444444;
}

.contacts-schedule {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  list-style: none;
}

.button-write {
  width: 259px;

  text-decoration: none;
}

/* subscribe */

.subscribe {
  padding: 64px 0 56px;

  background-color: #f0f0f0;
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.subscribe-title {
  width: 350px;
  margin-left: 7px;
}

.subscribe-description {
  width: 560px;
  margin: 0;
  margin-right: 135px;

  color: #444444;
}

.subscribe-form {
  display: flex;
  align-items: baseline;
  height: 57px;
}

.subscribe-form-email {
  margin: 0;
}

.subscribe-input {
  box-sizing: border-box;
  width: 557px;
  height: 55px;
  padding: 11px 16px 11px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;

  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.subscribe-input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-remark {
  margin-left: auto;
  padding-left: 32px;

  color: #444444;
}

.subscribe-button {
  width: 253px;
  min-height: 57px;

  background-color: #f0f0f0;
  border: 3px solid #c4c4c4;
}

/* footer */

.page-footer {
  padding: 62px 0;

  color: #ffffff;

  background-color: #444444;
}

.logo-footer {
  display: block;
  margin-bottom: 35px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.footer-contacts-address {
  width: 240px;

  font-style: normal;
}

.footer-contacts-address-text {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
}

.footer-contacts-phone {
  display: block;

  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
}

.footer-navigation-list {
  display: flex;
  justify-content: center;
  width: 640px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 706px;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
}

.about-text {
  margin: 0;
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;
}

/* main-inner */

/* inner-header */

.inner-header {
  box-sizing: border-box;
  padding: 0 60px;
  margin-bottom: 34px;
}

.inner-header-title {
  margin-bottom: 16px;
}

/* breadcrumps */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

/* catalog-products */

.catalog-products-wrapper {
  background-color: #f0f0f0;
}

.catalog-products {
  display: flex;
}

.catalog-products > h2 {
  display: none;
}

/* catalog-filter */

.catalog-filter {
  width: 200px;
  padding: 0 60px;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-label {
  display: block;
  margin: 25px 0;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;

  border: none;
}

.catalog-filter-group-title {
  padding: 0;

  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* sorting */

.catalog-right-column {
  width: 840px;

  background-color: #ffffff;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  background-color: #f0f0f0;
}

.select-control-label {
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;

  border: none;
}

.sorting-button-wrapper {
  display: flex;
}

.sorting-button {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  border: none;
}

/* catalog-product-list */

.catalog-product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  padding: 70px 40px 44px;
  margin: 0;

  list-style: none;
}

.product-card {
  position: relative;

  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 380px min-content;
  grid-template-areas:
    "image image"
    "title price";
  row-gap: 32px;
}

.product-card-title {
  grid-area: title;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-card-image {
  grid-area: image;
  object-fit: contain;
}

.product-card-price {
  grid-area: price;
  justify-self: flex-end;

  line-height: 21px;
  color: #444444;
}

.product-card-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  padding: 0;
  margin: auto;

  text-decoration: none;
}

/* catalog-product-button */

.catalog-product-button {
  box-sizing: border-box;
  width: 760px;
  padding: 15px;
  margin: 0 40px 44px;

  font-size: 16px;
  line-height: 19px;

  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

/* pagination */

.catalog-product-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 40px 78px;

  background-color: #ebebeb;
  list-style: none;
}

.catalog-product-pagination-item:first-child {
  margin-right: auto;
}

.catalog-product-pagination-item:last-child {
  margin-left: auto;
}

.catalog-product-pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 40px;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #444444;

  opacity: 0.3;
}

.catalog-product-pagination-prev,
.catalog-product-pagination-next {
  padding: 25px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  background-color: #ebebeb;

  opacity: 1;
}

.catalog-product-pagination-disabled {
  color: #444444;

  opacity: 0.3;
}

.catalog-product-pagination-current {
  opacity: 0.6;
}
